.display {
    border: 2px solid black;
    width: 300px;
    height: 50px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.buttons {
    width: 315px;
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 25%;
    padding: 15px;
    font-size: 20px;
}

.oper {
    background-color: blueviolet;

}

.clear, .equals {
    background-color: chartreuse;
}

.num {
    background-color: #d65c15;
}

button {
    border-color: black;
}

.container {
    background-color: ;
}

